#menu {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,98,1) 66%, rgba(0,212,255,1) 100%);
    font-family: "Times New Roman", Times, serif;
    color:beige;
    margin: 0;
}
#menu > p{
    margin:0;
}
h1 {
    text-align: center;
}
nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,98,1) 66%, rgba(0,212,255,1) 100%);
    overflow:hidden;
}
nav a{
    color: white;
    padding:14px 20px;
    display: left;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    background-color: #ddd;
    color: black;
}
footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,98,1) 66%, rgba(0,212,255,1) 100%);    padding: 10px 20px;
    text-align: center;
    color:yellow;
}
footer >a{
    color:yellow;
}
#nam{
    text-align: center;
}
#nu{
    text-align: center;
}
#lgbt{
    text-align: center;
}
#longia{
    text-align: center;
}
#cugia{
    text-align: center;
}
#lgbtgia{
    text-align: center;
}
.sextoy{
    text-align: center;
    flex:33%
}
.img{
    width: 30%;
}
.tit{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
}
.desc{
    text-align: center;
    margin:0px 10px 20px 10px;
}
#thanglamweb{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}