/* ITEMS_LIST */

/* tên danh sách */
.list_title p{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

/* khung chứa danh sách */
#list_container{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  box-shadow: inset;
}

/* danh sách 1 */
#list_1{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  border-radius: 5%;
  height: 300px;
}
#list_1 td{
  border-radius: 15% ;
}

/* danh sách 2 */
#list_2{
  width: 80%;
  margin-top:50px;
  margin-left: auto;
  margin-right:auto;
  border-radius: 5%;
}
#list_2 td{
  border-radius: 15% ;
}

/* danh sách 3 */
#list_3{
  width: 80%;
  margin-top:50px;
  margin-left: auto;
  margin-right:auto;
  border-radius: 5% ;
}
#list_3 td{
  border-radius: 15% ;
}


/* danh sách 4 */
#list_4{
  width: 80%;
  margin-top:50px;
  margin-left: auto;
  margin-right:auto;
  border-radius: 5% ;
}
#list_4 td{
  border-radius: 15% ;
}

.product-container{
  width: 100%;
  height:300px;
}

/* danh sách hiển thị thêm */
.alt_list_1{
  visibility: collapse;
}
.alt_list_2{
  visibility: collapse;
}
.alt_list_3{
  visibility: collapse;
}
.alt_list_4{
  visibility: collapse;
}

/* ảnh sản phẩm */
.product-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  margin-top:20px;
  transition: transform .2s;
}
.product-img{
  height: 175px;
  width: 175px;
  margin-left:auto;
  margin-right:auto;
  cursor: pointer;
  margin-bottom: 35px;
}
.product-img img:hover{
  transform: scale(1.25);
  border:5px solid
}
/* giá sản phẩm */
.product-price{
  text-align: center;
  height: 20px;
  width: 150px;
  cursor: pointer;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  transition: transform .2s
}
.product-price:hover{
  transform: scale(1.25);
}
/* tên sản phẩm */
.product-name{
  text-align: center;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  margin-left:auto;
  margin-right:auto;
  cursor: pointer;
  font-size: 20px;
  transition: transform .2s
}
.product-name:hover{
  transform: scale(1.05);
}
/* loại sản phẩm */
.product-type{
  text-align: center;
}
/* nút hiển thị thêm + hiển thị tất cả */
.all_alt_btn{
  height: 50px;
  margin-top:5px;
  border-radius: 5%;
  background-color:whitesmoke;
  font-size: 18px;
  cursor: pointer;
}
.all_alt_btn:hover{
  background-color: gainsboro;
  color:rgb(241, 159, 252);
}
#btn_alt_1{
  position: absolute;
  left:10.2%
}
#btn_alt_2{
  position: absolute;
  left:10.2%
}
#btn_alt_3{
  position: absolute;
  left:10.2%
}
#btn_alt_4{
  position: absolute;
  left:10.2%
}
#all_list1_btn{
  position: absolute;
  right:10.2%
}
#all_list2_btn{
  position: absolute;
  right:10.2%
}
#all_list3_btn{
  position: absolute;
  right:10.2%
}
#all_list4_btn{
  position: absolute;
  right:10.2%
}
/* ---- */
@media screen and (max-width:800px) {
  .banner_img img{
    height: 400px;
  }
  .product-img{
    display: block;
    width: 75px;
    height: 75px;
  }
  .product-price{
    display: block;
    margin-top:20px;
    width: 100px;
  }
  .product-name{
    display: block;
    font-size: 14px;
    width: 100%;
    height: 50px;
    margin:0;
  }
  .product-container{
    display: block;
    width: 100%;
    height:200px;
  }
  #list_container{
    width: 400px;
    margin:0;
  }

  /* danh sách 1 */
  #list_1{
    width: 100%;
  }
  /* danh sách 2 */
  #list_2{
    width: 100%;
    margin-top:50px;
  }
  /* danh sách 3 */
  #list_3{
    width: 100%;
    margin-top:50px;
  }
  /* danh sách 4 */
  #list_4{
    width: 100%;
    margin-top:50px;
  } 
  /* nút hiển thị thêm sản phẩm */
  #btn_alt_1{
    position: relative;
    left:0;
  }
  #btn_alt_2{
    position: relative;
    left:0;
  }
  #btn_alt_3{
    position: relative;
    left:0;
  }
  #btn_alt_4{
    position: relative;
    left:0;
  }
  #all_list1_btn{
    position: relative;
    right:0;
  }
  #all_list2_btn{
    position: relative;
    right:0;
  }
  #all_list3_btn{
    position: relative;
    right:0;
  }
  #all_list4_btn{
    position: relative;
    right:0;
  }
}
