html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0px;
    min-height: 500px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100vw;
}

.header {
    display: flex;
    height: 70px;
    background-color: rgb(113, 117, 111);
    position: relative;
}

.header input {
    height: 40px;
    width: 45%;
}

.menu {
    CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    width: 300px;
    height: 100%;
    z-index: 100000;
    position: fixed;
    background-color: black;
    display: none;
    transition: 0.15s
}

ul {
    padding: 0;
}

.menu li,
.menu li a {
    color: #818181;
    display: block;
    font-size: 25px;
    margin: 10px;
    font-weight: normal;
    caret-color: transparent;
    cursor: pointer;
}

.menu li a {
    padding: 0 0 0 32px;
}

.menu li,
.menu li a:hover {
    color: white;
}

#closeNav-btn a {
    color: #818181;
    font-size: 40px;
    position: relative;
    right: 18px
}

#closeNav-btn a:hover {
    color: white;
}

.main {
    display: flex;
    height: calc(100% - 100px);
    margin-top: 20px;
}

.bottom {
    position: absolute;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.Filter-by-price {
    display: block;
    width: 100%;
    height: 200px;
}

.Filter {
    display: block;
}

.min {
    display: flex;
}

.max {
    display: flex;
}

.tieude {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 200px;
}


.display-product {
    position: relative;
}

.main ul {
    margin: 0px;
    padding: 0px;
}

.main li {
    display: flex;
    height: 50px;
    background-color: rgb(113, 117, 111);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
}

.main li a:hover {
    color: white
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.site-main {
    position: relative;
    display: block;
    width: calc(100% - 270px);
    height: 100%;
    left: 270px;
}

.sidebar-content {
    width: 250px;
    height: fit-content;
    position: fixed;
    z-index: 1000;
    top: 50%;
    translate: 0 -50%;
    left: 10px;
    border: 2px solid black;
    background: whitesmoke
}

.archive-product {
    height: 100%;
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-image img {
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.product-image a {
    outline: none !important;
    width: 100%;
    height: 100%;
}

.product-inner {
    width: 225px;
    height: 480px;
    margin: 30px;
    background-color: white;
    border: 3px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    cursor: pointer;
}

.product-inner:hover {
    transform: scale(1.1);
    border: 2px solid rgb(255, 111, 111);
}

#button-search {
    background-color: rgb(113, 117, 111);
}

#button-search {
    width: 50px;
    cursor: pointer
}

#button-refresh {
    width: 75px;
    height: auto;
    cursor: pointer;
    padding-left: 30px;
}

.product-content {
    display: block;
    justify-content: center;
}

/* .name-figure
{
    display: flex;
    justify-content: center;
    margin: 0px;
} */
.price {
    display: flex;
    justify-content: center;
}

.price p {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.phantrang {
    display: flex;
    justify-content: center;
}

.phantrang button {
    width: 100px;
}

#Page {
    display: flex;
    border: 2px solid black;
    font-size: 20px;
    width: 20px;
    justify-content: center;
    color: black;
}

#product-per-page {
    height: 30px;
    width: 30px;
    margin-left: 75px;
}

.sort-button {
    margin: 0px;
    float: right;
    border: 1px solid black;
}

#bang {
    width: 55%;
    left: 350px;
    position: relative;
}

#addition {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#statistical {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 70px;
    left: 270px;
    height: calc(100% - 70px);
    background-color: white;
    overflow-x: auto;
}

#admin {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 70px;
    left: 270px;
    height: calc(100% - 70px);
    background-color: white;
    overflow-x: auto;
    scrollbar-width: initial;
}


#admin::-webkit-scrollbar,
#statistical::-webkit-scrollbar {
    display: initial;
    width: 10px;
}

#admin::-webkit-scrollbar-thumb,
#statistical::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

#admin::-webkit-scrollbar-track,
#statistical::-webkit-scrollbar-track {
    background-color: var(--background-color);
    overflow-y: auto;
}

.tensanpham {
    position: relative;
    left: 10%
}

.gia {
    position: relative;
    left: 40%
}

.loai {
    position: relative;
    left: 70%
}

#list h5 {
    font-size: 20px;
}

#are-you-sure {
    width: 200px;
    background-color: pink;
    display: none;
    border: 3px solid black;
    position: fixed;
    top: 270px;
    z-index: 100;
}

#YES {
    width: 100px;
    height: 50px;
    background-color: rgb(75, 241, 75);
}

#NO {
    width: 100px;
    height: 50px;
    background-color: red;
}


#config {
    display: none;
    width: 350px;
    border: 5px solid black;
    height: 536px;
    z-index: 1000;
    position: fixed;
    top: 220px;
    background: pink;
}

#add-product {
    display: none;
    width: 350px;
    border: 5px solid black;
    height: 536px;
    z-index: 1000;
    position: fixed;
    top: 220px;
    background-color: pink;
}

#config input {
    font-size: 20px;
    width: 70%;
}

.choice {
    width: 100%;
}

.choice button {
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
}


#add-product h2 {
    margin-bottom: 5px;
}

#add-product input {
    font-size: 20px;
    width: 70%;
}

.edit-btn {
    display: flex;
    align-items: center;
    height: 45px;
    width: 50px;
    font-size: 40px;
    justify-content: center;
    position: relative;
    left: calc(50% - 25px);
}

.remove-button {
    height: 45px;
    width: 50px;
    font-size: 40px;
    text-align: center;
    position: relative;
    left: calc(50% - 25px);
}

.name-figure h3 {
    font-size: 17px;
}

.infor_container {
    margin-top: auto;
}

/* lựa chọn sort */
#mySelect {
    height: 100%;
}

#TKSP {
    display: none;
}

#QLSP {
    display: none;
}

#TKDH {
    display: none;
}

#QLTK {
    display: none;
}

#add-imga {
    position: absolute;
    left: 75%;
    width: 65px;
    top: 0%;
}

#timkiem2 {
    position: fixed;
}

#add-imga {
    position: absolute;
    left: calc(100% - 90px);
    width: 65px;
    top: 0%;
}

#mix-product {
    display: flex;
}

@media screen and (max-width: 900px) {
    .sidebar-content {
        display: none;
    }

    .site-main {
        left: 0px;
        width: 100%;
        margin-top: 50px;
    }

    .product-inner {
        width: 125px;
        height: 240px;
        margin: 20px;
    }

    .name-figure h3 {
        font-size: 8px;
    }

    .price p {
        font-size: 13px;
    }

    #searchInput {
        position: absolute;
        top: 100px;
        width: 100px;
        left: 50%
    }

    #button-search {
        position: absolute;
        background-color: rgb(238, 238, 238);
        top: 90px;
        left: calc(50% + 100px);
    }

    #per-page {
        position: absolute;
        left: -50px;
        top: 100px;
        margin-left: 0px;
    }

    #button-refresh {
        position: absolute;
        left: calc(100% - 100px);
    }

    #wibu {
        display: none;
    }

    #QLSP {
        position: absolute;
        left: 50px;
        height: 100%;
        display: block;
    }

    #TKSP {
        display: block;
        position: absolute;
        left: 190px;
        height: 100%;
    }

    .text-QL {
        font-size: 15px;
        ;
    }

    #admin {
        left: 0px;
    }

    #statistical {
        left: 0px;
    }

    #timkiemadmin {
        display: none;
    }

    #config {
        left: 0px;
        width: 200px;
    }

    #list {
        left: 0px;
    }

    #add-imga {
        position: absolute;
        left: 500px;
        width: 65px;
        top: 0%;
    }

    #bang {
        left: 230px;
    }

    #add-product {
        width: 200px;
        height: 600px;
    }

    .sidebar-content {
        display: none;
    }

    .site-main {
        left: 0px;
        width: 100%;
    }

    .product-inner {
        width: 125px;
        height: 240px;
        margin: 20px;
    }

    .name-figure h3 {
        font-size: 8px;
    }

    .price p {
        font-size: 13px;
    }

    #timkiem2 {
        display: none;
    }

    #add-product {
        top: 100px;
        height: 569px;
    }

    #config {
        top: 100px;
    }

    #text-DMSP {
        display: none;
    }

    #add-imga {
        left: calc(50% - 100px)
    }

    .all_alt_btn {
        display: none;
    }

    #mix-product {
        display: none;
    }
}