body
{
    margin: 0px;
    height: 100vh;
}
a:hover
{
    background-color:gray;
}
/* menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.15s;
    padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .search{
    padding: 8px 8px 8px 32px ;
}
.search input[type=text]{
    width:200px;
    height:25px;
    border-radius:25px;
    border: none;
}
.search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
@media screen and (min-width: 767px){
    .header
    {   
        display: flex;
        height: 70px;
        background-color: pink;
        position: relative;
    }
    .header input
    {
        height: 40px; width: 45%;
    }
    .main
    {
        display: flex;
        height: 1000px;
        margin-top:20px;
    }
    .container {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .tieude
    {
        justify-content: center;
        align-items: center;
        display: flex;
        height:100%;
        width: 200px;
    }
    .main ul
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .main li
    {   
        display: flex;
        height: 50px;
        background-color: pink;
        border-bottom: 3px solid black;
        justify-content: center;
        align-items: center;
    }
    a 
    {
        text-decoration: none; 
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    .hinhfigure
    {
        margin-left: 50px;
        margin-bottom: 50px;
        width: 270px; 
        flex-wrap: wrap;
    }
    .chinh
    {
        display: block;
        width:100%; 
        height: 100%; 
        margin-left: 50px;
    }
    .giaodienmobile {
        display: none; 
    }
}

@media screen and (max-width: 767px) {
    .giaodienpc {
        display: none; 
    }
    .main
    {
    display: block;
    height: 1000px;
    margin-top:20px;
    }
    img 
    {
        margin: 4%;
        width: 150px; 
        flex-wrap: wrap;
    }
    .header
    {   
        display: flex;
        height: 30px;
        background-color: pink;
        position: relative;
    }
    .header input
    {
        height: 15px; width: 45%;
        margin: 20px auto;
    }
    .tieude
    {
        justify-content: center;
        align-items: center;
        display: flex;
        height:120%;
        width: 130px;
        margin: 10px;
    }
    h2
    {
        font-size: 20px;
    }
    .container {
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 10px
    }
    .filter
    {
        display: flex;
    }
    img 
    {
        margin: 4%;
        width: 150px; 
        flex-wrap: wrap;
    }
    .bottom
    {
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
        background-color: grey;
    }
}