body
{
    margin: 0px;
}
#headertuan
{
    display: flex;
    position: relative;
    height: 130px;
    background-image: linear-gradient(to left, #BDBBBE 100%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    align-items: center;
}
a
{
    text-decoration: none;
    color: black;
}
#headertuan ul
{
    display: flex;
    list-style: none;
    align-items: center;
}
#icon-web
{
    height: 200px;
    width: 250px;
}
#text-input-search
{
    position: absolute;
    left: calc(15% + 10%);
    height: 40px;
    top:calc(50% - 25px);
    width: 50%;
}
#search-button
{   
    position: absolute;
    left:calc(25% + 50% - 65px);
    height: 40px;
    width: 70px;
    top:calc(50% - 22px);
    background-color: pink;
}
#lam-mau p
{
    margin-right: 20px;
}
#lam-mau img
{
    height: 20px;
}
#lam-mau
{
    display: flex;
    position: absolute;
    top:calc(50% + 17px);
    left: calc(15% + 10%);
    align-items: center;
}
#user
{
    position: absolute;
    left: calc(100% - 200px);
    top:calc(50% - 40px);
}
#user h4
{
    margin: 10px;
    text-align: end;
}
#img-theme
{
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left:calc(75% + 5%);
    top: calc(50% - 30px);
}
#danh-muc
{   
    position: relative;
    background-color: white;
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
#danh-muc ul
{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#danh-muc ul li
{   
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px;
    width: 200px;
    justify-content: center;
}
#danh-muc ul li a
{
    color: black;
    text-decoration: none;
}
#danh-muc ul li img
{
    height: 30px;
}
#cart img
{
    height: 30px;
}
#cart
{
    display: flex;
    justify-content: end;
    position: absolute;
    left: calc(100% - 200px);
    align-items: center;
    height: 59px;
}
#danh-muc-mobile
{
    display: none;
    margin-left: 50px;
}
#banner
{
    width: 60%;
}
#banner img
{
    width: 100%;
    height: 100%;
}
#banner-type
{
    display: flex;
    border-bottom: 2px solid black;
}
#type
{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}
#sort-filter-productPerPage
{
    position: relative;
}
#sort
{
    display: flex;
    margin-left: 30px;
    align-items: center;
    height: 50px;
}
#filter
{   
    position: absolute;
    display: flex;
    margin: 0 50px 0 50px;
    left:calc(50% - 100px);
    top: calc(50% - 27px);
    align-items: center;
}
#filter p
{
    margin-left: 10px;
}
#productPerPage
{
    display: flex;
    position: absolute;
    left: calc(50% - 100px + 350px);
    top: calc(50% - 28px);
    align-items: center;
}
hr
{
    margin-top: 0px;
    margin-bottom: 0px;
}
#so-luong
{
    height: 30px;
}
#so-luong p
{
    margin: 0px;
    padding-left: 30px;
    padding-top: 12px;
}
.inner-product
{
    width: 250px;
    margin: 40px;
    border: 1px solid black;
    border-radius: 10%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.inner-product:hover {
    transform: scale(1.1);
    border: 2px solid black;
}
.inner-product img
{
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.product-content
{
    text-align: center;
}
#archive-product
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#loc-theo-gia
{   
    display: flex;
    align-items: center;
}
.option
{
    height: 20px;
}
#filter input
{
    width: 80px;
}
#phanTrang
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#phanTrang button
{
    width: 75px;
    height: 25px;
}
#current
{
    border: 1px solid black;
    width: 15px;
    text-align: center;
    font-size: 20px;
}
@media screen and (max-width: 1150px)
{
    #user
    {
        display: none;
    }
    #lam-mau p
    {
        font-size: 13px;
    }
    #cart h3
    {
        font-size: 13px;
    }
    #cart
    {
        left: calc(100% - 100px);
        height: 54px;
        top:calc(50% - 27px);
    }
    #danh-muc ul li a h3
    {
        font-size: 13px;
    }
    #danh-muc ul li
    {
        width: 150px;
    }
}
@media screen and (max-width: 850px) {
    #danh-muc-mobile
    {
        display: flex;
    }
    #danh-muc ul
    {
        display: none;
    }
    #cart
    {
        left: calc(100% - 100px);
    }
    #filter
    {
        left:calc(100% - 280px);
    }
    #filter input
    {
        width: 45px;;
    }
    #productPerPage
    {
        height: 85%;
        left: 40%;
        top: 100%;
    }
    #type-output
    {
        font-size: 20px;
    }
    #sort
    {
        margin-left: 0px;
    }
    .name-product
    {
        font-size: 10px;
    }
    .price-product
    {
        font-size: 12px;
    }
    .inner-product
    {
        margin: 20px;
        border: 1px solid black;
    }
    #img-theme
    {
        height: 30px;
        top: calc(50% - 20px);
    }
}
@media screen and (max-width: 500px) 
{
    #danh-muc-mobile
    {
        margin-left:  0px ;
    }
    .inner-product
    {
        width: 125px;
    }
    .xoa
    {
        display: none;
    }
    #icon-web
    {
        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 350px)
{
    body
    {
        display: none;
    }
} 
