body {
  overflow-x: hidden;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

/*heading*/
#header {
  height: 120px;
  width: 100%;
  background-image: linear-gradient(to left, #BDBBBE 100%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
  display: flex;
}

#heading_img_name img {
  width: 250px;
  height: 200px;
  position: relative;
  top: -50px;
  z-index: 0;
}

#heading_img_name {
  width: 30%;
}

#heading_img_name label {
  text-decoration: none;
  font-size: 50px;
}

#header_sm {
  float: right;
  width: 70%;
  padding-right: 20px;
  position: relative;
}

#sm_link_container {
  float: right;
}

#header_sm img {
  width: 60px;
  height: 50px;
  padding-left: 20px;
}

#header a {
  text-decoration: none;
}

#right_site_header {
  display: inline-block;
  width: 100%;
}

/* nút đăng nhập đăng ký */
#right_site_header #sign-up-in_btn {
  float: left;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#right_site_header #logout {
  display: none;
  font-size: 25px;
  margin-left: 20px;
  z-index: 999;
}

#cart_btn {
  float: right;
  position: relative;
  font-size: 25px;
  margin-right: 20px;
}

#infor_user {
  font-size: 25px;
  margin-right: 20px;
  float: right;
}

#admin {
  font-size: 25px;
  margin-right: 20px;
  float: right;
  display: none;
}

/* sign-up/in option */
#option_box {
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 25px 80px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  left: calc(50% - 250px);
  top: -100%;
}

#option_box img {
  width: 100%;
  height: 200px;
  position: absolute;
}

#option_box p {
  font-size: 25px;
  text-align: center;
  position: relative;
}

#slogan {
  position: absolute;
  top: 125px;
}

#option_container {
  display: flex;
}

#btn_option1 {
  width: 45%;
  height: 35px;
  margin: auto;
  position: relative;
  z-index: 1;
  top: 150px;
}

#btn_option2 {
  width: 45%;
  height: 35px;
  margin: auto;
  text-align: center;
  z-index: 1;
  top: 150px;
  position: relative;
}

#close_option {
  position: relative;
  left: 90%;
  bottom: 160px;
  height: 30px;
  width: 30px;
  background-color: red;
  text-align: center;
  cursor: pointer;
}

#close_option p {
  position: absolute;
}

.btn_yes {
  height: 75px;
  width: 100px;
  position: relative;
  left: calc(50% - 50px);
  border-radius: 25px;
  cursor: pointer;
}

.btn_yes:hover {
  color: #fff;
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn_yes:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn_no {
  height: 75px;
  width: 100px;
  position: relative;
  border-radius: 25px;
  cursor: pointer
}

.btn_no:disabled {
  pointer-events: none;
}

.btn_no:hover {
  color: #fff;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn_no:active {
  box-shadow: none;
  transform: translateY(0);
}

@keyframes box-in {
  from {
    top: -100%;
  }

  to {
    top: 25%;
  }
}

@keyframes box-out {
  0% {
    top: 25%;
  }

  100% {
    top: -100%;
  }
}

/* ---- */
/* thông tin tài khoản */
#user-infor-container {
  display: flex;
  background-color: palegoldenrod;
  width: 1200px;
  min-height: 500px;
  position: fixed;
  left: calc(50% - 600px);
  top: -100%;
  z-index: 5;
}

#user-infor-close {
  width: 50px;
  height: 50px;
  float: right;
  cursor: pointer;
  border-radius: 25px;
}

#user-infor-close:hover {
  background-color: #db2626;
}

#user-infor-left {
  width: 30%;
  border-right: 2px solid;
}

#check-bill,
#edit-user-infor,
#check-infor {
  font-size: 24px;
  border: 2px solid black;
  text-align: center;
}

#img-left-content {
  width: 250px;
  height: 250px;
  position: relative;
  left: calc(50% - 125px);
  display: none;
}

#user-infor-right {
  width: 70%;
}

.check-infor-title,
.check-bill-title {
  text-align: center;
  font-size: 30px;
  display: none;
}

#alt-page-title {
  text-align: center;
  font-size: 30px;
}

#alt-page-img img {
  position: relative;
  left: calc(50% - 250px);
}

@keyframes user-infor-in {
  from {
    top: -100%;
  }

  to {
    top: 20%;
  }
}

@keyframes user-infor-out {
  from {
    top: 20%;
  }

  to {
    top: -100%;
  }
}

.user-infor-title {
  text-align: center;
}

#user-content p {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
}

#check-bill:hover,
#edit-user-infor:hover,
#check-infor:hover {
  animation: infi 2s infinite;
  cursor: pointer;
}

@keyframes infi {
  0% {
    background-color: red;
  }

  25% {
    background-color: aqua;
  }

  50% {
    background-color: green;
  }

  75% {
    background-color: aquamarine;
  }

  100% {
    background-color: tomato;
  }
}

#user-content table {
  width: 100%;
  font-size: 25px;
}

/* ---- */

/* menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.15s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* ---- */

/* thanh tìm kiếm */
#search {
  display: inline-flex;
  position: absolute;
  left: 33%;
  top: 33px;
  z-index: 1;
}

#search form {
  display: inline-block;
}

#search form label {
  font-size: 30px;
  text-align: center;
}

#search input[type=text] {
  width: 300px;
  height: 35px;
  border-radius: 25px;
  position: relative;
  bottom: 10px;
  box-sizing: border-box;
}

#search button {
  position: relative;
  bottom: 10px
}

#search button img {
  height: 30px;
  width: 30px;
  position: relative;

}

#menu_label {
  font-size: 33px;
  cursor: pointer;
  left: 0;
}

/* ---- */

/* BANNER */
#box {
  height: 600px;
  text-align: center;
  position: relative;
}

.banner_img img {
  height: 600px;
  width: 100%;
}

.banner_img {
  position: absolute;
  width: 100%;
}

#img_1 {
  z-index: 4;
}

#img_2 {
  z-index: 3;
}

#img_3 {
  z-index: 2;
}

#img_4 {
  z-index: 1;
}

.banner_fl img {
  width: 100%;
  height: 550px;
  transition: transform .2s
}

.banner_fl img:hover {
  transform: scale(1.02);
}

/* ---- */

/*PROMOTION*/
#promo {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

#promo p {
  margin: 0;
  margin-top: 20px;
}

#promotion_container {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(139, 139, 127, 0.164);
}

#promo1 {
  position: relative;
  width: 50%;
  border-right: 3px solid gray;
}

#promo2 {
  position: relative;
  width: 50%;
}

.promo_p {
  text-align: center;
  font-size: 30px;
}

.promo_img {
  height: 250px;
  position: relative;
  left: calc(50% - 125px);
  transition: transform .2s;
}

.promo_img:hover {
  transform: scale(1.2);
}

.promo_p2 {
  position: relative;
  text-align: center;
  font-size: 25px;
  animation: change-color 2s infinite;
}

#promo1 a,
#promo2 a {
  text-decoration: none;
  color: black;
}

/* SERVICES */
#services_container {
  width: 100%;
  text-align: center;
  font-size: 25px;
  height: 150px;
  background-color: whitesmoke;
}

.img_service {
  height: 70px
}

.link_service {
  text-decoration: none;
  animation: change-color 2s infinite;
}

#serv1-tb{
  width: 80%;
  height: 850px;
  position: fixed;
  z-index: 1;
  top: 50px;
  background-color: blue;
  left: 10%;
  overflow-y: scroll;
}

#close-serv1{
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 55px;
  cursor: pointer;
}

#close-serv1:hover{
  background-color: red;
}

#serv1-tb #serv1-title{
  text-align: center;
  font-size:30px;
  margin-top:20px
}

#serv1-banner{
  height: 450px;
  width: 100%;
}

#serv1-content{
  display: flex;
  flex-wrap: wrap;
}
#serv1-left,
#serv1-right{
  min-width: 50%;
  text-align: center;
  font-size: 25px;
}
#serv1-right{
  float: right;
}
@keyframes change-color {
  0% {
    color: aqua;
  }

  25% {
    color: aquamarine
  }

  50% {
    color: #db2626;
  }

  75% {
    color: aquamarine;
  }

  100% {
    color: aqua;
  }
}

@keyframes serv1-in {
  from{top:-200%}
  to{top:50px}
}
@keyframes serv1-out {
  from{top:50px}
  to{top:-200%}
}

/* ---- */
/* quay lại đầu trang */
#back_t_header {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: fixed;
  bottom: 60px;
  right: 50px;
  z-index: 10;
}

#back_t_header img {
  width: 45px;
  height: 45px;
  position: relative;
  left: 2px;
}

/* FOOTER */
.infor_container {
  display: flex;
  z-index: -1;
  background-image: linear-gradient(to left, #BDBBBE 100%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
}

.infor_container>div {
  font-size: 30px;
}

.infor_container .footer_title {
  font-size: 22px;
  color: rgb(206, 133, 248);
}

.infor_container #footer_logo {
  width: 25%;
  border-right: 3px solid whitesmoke;
}

#footer_logo img {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: calc(50% - 125px);
  width: 250px;
  height: 250px;
}

.infor_container #introduce {
  text-align: center;
  padding-top: 0px;
  font-size: 20px;
  color: whitesmoke;
  width: 25%;
}

.infor_container #social_media {
  text-align: center;
  padding-top: 0px;
  font-size: 20px;
  color: whitesmoke;
  width: 25%;
}

.infor_container #contact {
  text-align: center;
  padding-top: 0px;
  font-size: 20px;
  color: whitesmoke;
  width: 25%;
}

/* itemdetail */
.itemdetail {
  position: fixed;
  width: 65vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container1 {
  border: 1px solid red;
  background: whitesmoke;
  border-radius: 5px;
  animation: showup 0.5s ease;
  transition: all 500ms ease;
  width: 100%;
}

.fade {
  animation: fadeout 500ms ease;
}

@keyframes showup {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

.closebutton {
  min-width: 100%;
  height: 0;
  position: relative;
  caret-color: transparent;
}

.closebutton>.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  min-height: 25px;
  background: #db2626;
  border: 1px solid red;
  border-radius: 3px;
  text-align: center;
  caret-color: transparent;
}

.closebutton>.close-button:hover {
  background-color: rgba(104, 13, 13, 19);
  color: white;
}

.wrapper-flex {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.left-content {
  width: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-content>img {
  width: max-content;
  aspect-ratio: 9/7;
  margin-bottom: 2em;
  max-height: 500px;
}

.optionMenu {
  background: gainsboro;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}

.optionMenu .imgOption {
  width: 100%;
  height: auto;
  height: fit-content;
  background-color: red;
  position: relative;
  caret-color: transparent;
}

.imgOptionSelect::before {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  inset: 0;
  border: 5px solid black;
  pointer-events: none;
}

.imgOpt {
  width: 100%;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1;
}

.right-content {
  width: 50%;
  margin-left: 10px;
}

.right-content>* {
  margin-bottom: 1rem;
}

.header {
  font-weight: 900;
}

.description {
  width: 100%;
  display: flex;
}

.description .header {
  margin-right: 10px;
}

.price .value {
  /* margin-left: 5em; */
  font-weight: bold;
  color: red;
}

.right-content .amount {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.right-content .amount .header {
  margin-right: auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.right-content .amount * {
  padding: 0.5em;
  height: 30px;
}

.amount .increase,
.amount .decrease,
.amount .quantity {
  font-weight: bold;
}

.amount .decrease,
.amount .increase {
  border: 1px solid;
  background-color: rgb(162, 161, 161);
  caret-color: transparent;
  color: rgb(0 0 0 /0.5);
  cursor: pointer;
}

.amount .decrease:hover,
.amount .increase:hover {
  color: black;
}

.quantity {
  width: 6ch;
  text-align: center;
}

.cart-button {
  max-width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: red;
  color: white;
  cursor: pointer;
}

.header-detail {
  padding: 0;
  padding-right: 20px;
}

/* ---- */
@media screen and (max-height: 0px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* giao diện nhỏ hơn */
@media screen and (max-width: 900px) {

  /* chỉnh sửa kích cỡ banner */
  .banner_fl img {
    height: 300px;
  }

  #box {
    height: 400px;
  }

  #box img {
    height: 400px;
  }

  /* chỉnh sửa footer */
  #introduce,
  #social_media,
  #contact,
  #footer_logo {
    width: 100%;
  }

  #footer_logo img {
    width: 95px;
    height: 95px;
    left: 0;
    margin-right: 20px;
  }

  /* chỉnh sửa danh sách chứa sản phẩm */
  #list_container {
    width: 100%;
    margin: 0;
  }

  /* chỉnh sửa khung chứa dịch vụ */
  #services_container {
    width: 100%;
  }

  /* chỉnh sửa lựa chọn đăng nhập đăng ký */
  #option_box {
    width: 250px;
    height: 250px;
    left: calc(50% - 125px);
  }

  /* chỉnh sửa header */
  /* thanh tìm kiếm */
  #search {
    position: relative;
    height: 100px;
    left: 0;
    top: 50px;
    z-index: 0;
  }

  #search form label {
    font-size: 20px;
  }

  #search input[type=text] {
    width: 200px;
  }

  /* tên web */
  #web_name {
    bottom: 40px;
  }

  #heading_img_name img {
    width: 150px;
    height: 150px;
    top: 0;
  }

  /* chỉnh sửa vị trí icon mạng xã hội đầu trang */
  #header_sm {
    z-index: 98;
    top: 0;
    height: fit-content;
    width: 70%;
    padding: 0;
  }

  #header_sm img {
    height: 30px;
    width: 60px;
  }

  /* chỉnh sửa quyền lợi shop */
  .promo_img {
    height: 150px;
    left: calc(50% - 75px);
  }

  /* chỉnh sửa nút vào giỏ hàng */
  #cart_btn {
    margin: 0;
  }

  /* chỉnh sửa nút mở thông tin cá nhân */
  #infor_user {
    margin: 0;
  }

  #promotion_container {
    width: 100%;
  }

  /* chỉnh sửa chi tiết sản phẩm */
  .itemdetail {
    width: 100%;
    top: 0;
    left: 0;
    transform: none;
  }

  .wrapper-flex {
    display: block;
    max-width: 100%;
    /*magic number*/
    max-height: calc(99vh - 30px);
    overflow: scroll;
  }

  .left-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .right-content {
    display: block;
    width: 100%;
  }

  .left-content>img {
    max-width: 100%;
    margin-bottom: 2em;
  }

  .right-content .amount {
    width: 100%;
  }

  .optionMenu {
    margin: 1rem;
  }

  .title {
    font-size: 25px;
  }

  .header-detail {
    font-size: 20px;
    width: max-content;
  }

  #admin {
    margin: 0;
    z-index: 10000;
  }

  #right_site_header #logout {
    margin: 0;
    float: right;
  }

  /* chỉnh phần thông tin tài khoản */
  #user-infor-container {
    width: 100%;
    left: 0;
    height: 50px;
  }

  #check-bill,
  #edit-user-infor,
  #check-infor {
    font-size: 18px;
  }

  #alt-page-img img {
    left: 0;
  }

  .user-infor-title,
  #alt-page-title {
    font-size: 20px;
  }

  #user-content table {
    font-size: 15px;
  }

  /* chỉnh khung giới thiệu về shop */
  #serv1-tb{
    width: 100%;
    left:0;
    max-height: 400px;
  }
  #serv1-left,
  #serv1-right{
    width: 100%;
  }
  #serv1-banner{
    width: 100%;
    height: 200px;
  }
  #serv1-tb #serv1-title{
    font-size: 23px;
  }
}

/* giao diện nhỏ hơn */
@media screen and (max-width: 400px) {

  /* chỉnh sửa kích cỡ banner */
  .banner_fl img {
    height: 300px;
  }

  #box img {
    height: 300px;
  }

  #box {
    height: 300px;
  }

  .banner_img img {
    height: 300px;
  }

  #right_site_header #logout {
    margin: 0;
    float: right;
  }

  .promo_p2 {
    font-size: 18px;
  }

  .img_service {
    height: 50px;
    width: 50px;
  }

  #right_site_header #sign-up-in_btn {
    margin: 0;
    float: right;
  }

  .infor_container p {
    font-size: 15px;
  }


}

@media screen and (max-width: 600px) {

  .left-content,
  .right-content {
    margin: 0;
  }

  .amount {
    width: 100%;
  }

  .amount * {
    padding: 0;
  }

  .price .value {
    margin-left: 3em;
  }
}