/* ITEMS_LIST */

/* tên danh sách */
.list_title p {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}

/* khung chứa danh sách */
#list_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset;
}

/* danh sách 1 */
#list_1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  height: 300px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

#list_1 td {
  border-radius: 15%;
}

/* danh sách 2 */
#list_2 {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

#list_2 td {
  border-radius: 15%;
}

/* danh sách 3 */
#list_3 {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

#list_3 td {
  border-radius: 15%;
}


/* danh sách 4 */
#list_4 {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

#list_4 td {
  border-radius: 15%;
}

.product-container {
  width: 100%;
  height: 400px;
}

/* danh sách hiển thị thêm */
.alt_list_1 {
  visibility: collapse;
}

.alt_list_2 {
  visibility: collapse;
}

.alt_list_3 {
  visibility: collapse;
}

.alt_list_4 {
  visibility: collapse;
}

/* ảnh sản phẩm */
.product-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  transition: transform .2s;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.product-img {
  height: 250px;
  width: 250px;
  margin: 0.5em auto;
  cursor: pointer;
  margin-bottom: 15px;
}

.product-img img:hover {
  transform: scale(1.25);
  border: 5px solid
}

/* giá sản phẩm */
.product-price {
  text-align: center;
  height: 50px;
  width: 150px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  transition: transform .2s
}

.product-price:hover {
  transform: scale(1.25);
}

/* tên sản phẩm */
.product-name {
  text-align: center;
  font-size: 18px;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: transform .2s
}

.product-name:hover {
  transform: scale(1.05);
}

/* loại sản phẩm */
.product-type {
  text-align: center;
}

/* nút hiển thị thêm + hiển thị tất cả */
.all_alt_btn {
  height: 50px;
  margin-top: 5px;
  border-radius: 5%;
  cursor: pointer;
  padding: 10px;
}

.all_alt_btn:hover {
  background-color: gainsboro;
  color: rgb(241, 159, 252);
}

#btn_alt_1 {
  position: absolute;
  left: 10.2%
}

#btn_alt_2 {
  position: absolute;
  left: 10.2%
}

#btn_alt_3 {
  position: absolute;
  left: 10.2%
}

#btn_alt_4 {
  position: absolute;
  left: 10.2%
}

#all_list1_btn {
  position: absolute;
  right: 10.2%
}

#all_list2_btn {
  position: absolute;
  right: 10.2%
}

#all_list3_btn {
  position: absolute;
  right: 10.2%
}

#all_list4_btn {
  position: absolute;
  right: 10.2%
}

@media screen and (max-width:800px) {
  .banner_img img {
    height: 400px;
  }

  .product-img img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .product-img {
    width: 125px;
    height: 125px;
  }

  .product-price {
    width: 100px;
    font-size: 16px;
  }

  .product-name {
    font-size: 17px;
    width: 100%;
    min-height: 50px;
    margin-bottom: 75px;
  }

  .product-container {
    display: block;
    width: 100%;
    min-height: 290px;
  }

  #list_container {
    width: 400px;
    margin: 0;
  }

  /* danh sách 1 */
  #list_1 {
    width: 100%;
  }

  /* danh sách 2 */
  #list_2 {
    width: 100%;
    margin-top: 50px;
  }

  /* danh sách 3 */
  #list_3 {
    width: 100%;
    margin-top: 50px;
  }

  /* danh sách 4 */
  #list_4 {
    width: 100%;
    margin-top: 50px;
  }

  /* nút hiển thị thêm sản phẩm */
  #btn_alt_1 {
    left: 0;
  }

  #btn_alt_2 {
    left: 0;
  }

  #btn_alt_3 {
    left: 0;
  }

  #btn_alt_4 {
    left: 0;
  }

  #all_list1_btn {
    right: 0;
  }

  #all_list2_btn {
    right: 0;
  }

  #all_list3_btn {
    right: 0;
  }

  #all_list4_btn {
    right: 0;
  }
}