/* ITEMS_LIST */

/* tên danh sách */
.list_title p {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}

/* khung chứa danh sách */
#list_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset;
}

/* danh sách */
#list_1,
#list_2,
#list_3,
#list_4 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  height: 300px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

#list_1 td,
#list_2 td,
#list_3 td,
#list_4 td {
  border-radius: 15%;
}

.product-container {
  width: 100%;
  height: 400px;
}

/* danh sách hiển thị thêm */
.alt_list_1 {
  visibility: collapse;
}

.alt_list_2 {
  visibility: collapse;
}

.alt_list_3 {
  visibility: collapse;
}

.alt_list_4 {
  visibility: collapse;
}

/* ảnh sản phẩm */
.product-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  transition: transform .2s;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.product-img {
  height: 250px;
  width: 250px;
  margin: 0.5em auto;
  cursor: pointer;
  margin-bottom: 15px;
}

.product-img img:hover {
  transform: scale(1.25);
  border: 5px solid
}

/* giá sản phẩm */
.product-price {
  text-align: center;
  height: 50px;
  width: 150px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  transition: transform .2s
}

.product-price:hover {
  transform: scale(1.25);
}

/* tên sản phẩm */
.product-name {
  text-align: center;
  font-size: 20px;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: transform .2s
}

.product-name:hover {
  transform: scale(1.05);
}

/* loại sản phẩm */
.product-type {
  text-align: center;
}

/* nút hiển thị thêm + hiển thị tất cả */
.all_alt_btn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.all_alt_btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.all_alt_btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#btn_alt_1,
#btn_alt_2,
#btn_alt_3,
#btn_alt_4 {
  position: absolute;
  left: 10.2%
}

#all_list1_btn,
#all_list2_btn,
#all_list3_btn,
#all_list4_btn {
  position: absolute;
  right: 10.2%
}


@media screen and (max-width:800px) {
  .banner_img img {
    height: 400px;
  }

  .product-img img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .product-img {
    width: 100px;
    height: 100px;
  }

  .product-price {
    width: 100px;
    font-size: 19px;
    font-weight: bold;
  }

  .product-name {
    font-size: 14px;
    width: 100%;
    min-height: 50px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .product-container {
    display: block;
    width: 100%;
    height: 300px;
  }

  #list_container {
    width: 400px;
    margin: 0;
  }

  /* danh sách 1 */
  #list_1 {
    width: 100%;
  }

  /* danh sách 2, 3, 4 */
  #list_2,
  #list_3,
  #list_4 {
    width: 100%;
    margin-top: 50px;
  }

  /* nút hiển thị thêm sản phẩm */
  #btn_alt_1,
  #btn_alt_2,
  #btn_alt_3,
  #btn_alt_4 {
    left: 0;
  }

  #all_list1_btn,
  #all_list2_btn,
  #all_list3_btn,
  #all_list4_btn {
    right: 0;
  }
}