* {
    margin: 0;
    box-sizing: border-box;
}
/* khung chứa đăng nhập đăng ký */
.wrapper {
    position: fixed;
    width: 600px;
    min-height: 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.982);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
    z-index: -1;
    left: calc(50% - 300px);
    top: 50%;
    translate: 0 -120%;
    opacity: 0;
}
/* hiển thị khung */
.wrapper.active-popup {
    opacity: 1;
    z-index: 1;
    min-height: fit-content;
    translate: 0 -50%;
}

@keyframes wrapper-in {
    0% {
        top: -100%;
    }

    100% {
        top: 60%;
    }
}

@keyframes wrapper-out {
    0% {
        top: 60%;
    }

    100% {
        top: -100%;
    }
}

.wrapper .dangnhap,
.wrapper .dangki {
    width: 100%;
    padding: 10px;
}

form .wrapper-flex {
    display: flex;
    gap: 10px;
}

form .wrapper-flex .left-content {
    width: 50%;
}

form .wrapper-flex .right-content {
    width: 50%;
}

@media screen and (max-width:500px) {
    form .wrapper-flex {
        display: block;
        gap: 0;
        margin: 10px auto;
    }

    form .wrapper-flex :is(.left-content, .right-content) {
        width: 100%;
    }
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    width: 45px;
    right: 0;
    height: 45px;
    background-color: grey;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    border-radius: 0 15px 0;
}

.dangnhap h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.nhap {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.nhap label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.nhap input:focus~label,
.nhap input:required:valid~label {
    top: -5px;
}

.nhap input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
}

.nhap .icon {
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: black;
    line-height: 60px;
}

.btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}

.dangki h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* thông báo đăng ký thành công */
#customalert{
    width: 350px;
    height: 50px;
    background-color: rgba(174, 238, 79, 0.753);
    position: fixed;
    left: calc(50% - 175px);
    top: -100%;
    z-index: 1;
}
#customalert p{
    text-align: center;
    position: relative;
    top: 5px;
    font-size: 30px;
    color: white;
}
@keyframes complete {
    0% {
        top: -100%;
    }
    20% {
        top:5%;
    }
    40% {
        top: 5%;
    }
    60% {
        top: 5%;
    }
    80% {
        top: 5%;
    }
    100% {
        top: -100%;
    }
}
