* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root[data-theme="light"] {
    --primary-color: #f2bed1;
    --secondary-color: #d6c1d7;
    --accent-color: #7b517b;
    --background-color: #dde0f8;
    --text-color: #090609;
}

:root[data-theme="dark"] {
    --primary-color: #cbe90c;
    --secondary-color: #070227;
    --accent-color: #ff00ff;
    --background-color: #2c2e43;
    --text-color: #f2f0ff;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

div {
    border: 1px solid red;
}

ul {
    list-style-type: none;
}

nav.navigationbar {
    grid-area: head;
    background: var(--primary-color);
    width: 100%;
    min-width: fit-content;
    height: 60px;
    display: flex;
    justify-content: flex-start;
}

.nav-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account {
    width: 100px;
    height: 100%;
    margin-left: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hamburgerbutton {
    min-width: fit-content;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
    display: none;
}

.hamburgerbutton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand {
    text-align: center;
    color: black;
    margin: 0 1rem;
}

.wrapper-flex {
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
    overflow: hidden;
    align-items: stretch;
}

#left-menu * {
    caret-color: transparent;
}

#left-menu {
    border: 1px solid black;
    width: 20%;
    float: left;
    font-size: 1.5rem;
}

#left-menu li:first-child {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#left-menu li {
    margin: 0 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content {
    width: 80%;
    margin: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
}


.dsDonHang {
    height: 90%;
    overflow-y: scroll;
}

.dsDonHang .donHang:first-child {
    position: sticky;
    inset: calc(5rem/16);
    top: 0;
    background-color: var(--accent-color);
    border-top: calc(5rem/16) solid white;
    overflow: scroll;
    min-height: 2rem;
    font-size: 1.25rem;
}

.content .dsDonHang .donHang {
    display: grid;
    grid-template-columns: calc(50rem/16) repeat(7, 1fr);
    gap: 1px;
    margin: calc(5rem / 16);
}


.donHang * {
    text-align: center;
}


.donHang .HanhDong {
    display: flex;
    flex-shrink: 0;
}


.donHang .HanhDong:not(:first-child) {
    justify-content: center;
    align-items: center;
}

.donHang .HanhDong div {
    width: 50%;
    min-width: fit-content;
    height: fit-content;
    margin: calc(10rem/16);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    caret-color: transparent;
}

.donHang .HanhDong div:hover.accept {
    color: lime;
}

.donHang .HanhDong div:hover.deny {
    color: red;
}

.searchBar {
    min-height: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    flex-wrap: wrap;
}

.searchBar form {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.searchBar form * {
    margin: 2px;
}

form.dateSearch input {
    width: fit-content;
    min-height: 70%;
    font-size: 1rem;
}

form .applySearch {
    width: 50px;
    height: 70%;
}

form.otherSearch :is(input, select) {
    width: 100px;
    text-overflow: ellipsis;
    min-height: 70%;
}

.userList {
    height: 90%;
    overflow: scroll;
}

.userList .user {
    display: grid;
    grid-template-columns: calc(50rem/16) repeat(5, 1fr);
    gap: 1px;
    margin: calc(5rem/16);
}

.user>* {
    border: 1px solid red;
    text-align: center;
}

.userList .user:first-child {
    position: sticky;
    inset: calc(5rem/16);
    top: 0;
    background-color: var(--accent-color);
    border-top: calc(5rem/16) solid white;
    font-size: 1.25rem;
}

.user .hanhDong {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.user .hanhDong .delete {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    caret-color: transparent;
}

.hanhDong .delete:hover {
    color: red;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    caret-color: transparent;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: red;
    border-radius: 17px;
}

.slider::before {
    position: absolute;
    background: blue;
    inset: 0;
    width: 13px;
    height: 13px;
    left: 2px;
    top: 2px;
    content: "";
    transition: all 400ms;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: lime;
}

input:checked+.slider::before {
    transform: translateX(13px);
}

.searchBar.flex-start {
    justify-content: flex-start;
}

.addAccount {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

#userSearchType {
    margin: 0 2px 0 1rem;
}


#userSearchValue {
    margin-right: auto;
}

#createAccountBox {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding: 1rem;
    position: absolute;
    inset: 50%;
    translate: -50% -50%;
    animation: show-up 400ms ease;
    z-index: 2;
    background-color: whitesmoke;
    border-radius: 10px;
}

#createAccountBox .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 0 10px 0 10px;
}

#createAccountBox .btnWrapper {
    margin-top: 20px;
    border: 0;
}

.btnWrapper button {
    margin: 0 .5rem;
    width: 50px;
    height: 30px;
}

#createAccountBox input {
    margin-bottom: 20px;
}

.img-product {
    height: 75px;
}

.config {
    height: 55px;
}

#searchQLSP {
    align-items: center;
    display: flex;
    margin-left: 20px;
}

#searchBar2 {
    display: flex;
    height: 7%;
    margin-top: auto;
    flex-wrap: wrap;
}

#searchBar2 input {
    height: 100%;
    margin-left: 2px;
}

#searchBar2 select {
    height: 100%;
}

#searchBar2 button {
    height: 100%;
    margin-left: 1px;
}

#searchBar2 div {
    border: none;
}

#admin-QLSP {
    height: 90%;
    overflow: scroll;
    position: relative;
}

#table-QLSP {
    width: 100%;
}

#table-QLSP tr:first-child {
    position: sticky;
    inset: 0;
}

#addProductQLSP {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#phanTrang {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;
}

#phanTrang button {
    width: 100px;
    height: 100%;
}

.addEditQLSP {
    border: none;
    width: 180px;
    justify-content: center;
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 90px);
    border-radius: 2%;
    background-color: pink;
}

@keyframes show-up {
    0% {
        opacity: 0;
        translate: -50% -100%;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        translate: -50% -100%;
    }
}


@media screen and (max-width:800px) {
    .searchBar form {
        margin: 0;
        margin-right: auto;
        overflow: scroll;
    }

    .searchBar form * {
        margin: 1px;
    }

    .searchBar form input {
        font-size: 1rem;
        width: 100px;
    }
}


@media screen and (max-width:900px) {
    #left-menu {
        display: none;
    }

    .content {
        width: 100%;
        margin: 1rem 0 0 0;
    }

    .donHang:first-child {
        font-size: 1rem;
    }

    .donHang .HanhDong div {
        font-size: 1rem;
        margin: 0;
    }
}