
* {
    margin:0;
    padding:0;
    box-sizing: border-box;}
header {
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: palevioletred;
    border-style: hidden;
}


.mmb {

    display: flex;
    justify-content: space-between;
}

.mmb h3 {
            margin:20px 20px 20px 20px;
}
.leftcontents{
            max-width: fit-content;
            float:left;
            background-color:antiquewhite;
            height: 30%;
            border-style:groove;


            
}
.rightcontents{
            width: 70%;
            text-align: left;
            float: left;
            height: 630px;
            border-style:groove;
            margin: auto;
            background-color: rgb(250, 214, 214);
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            letter-spacing: 1px;
            text-decoration: none;
            text-transform: uppercase;
            color: #333;
}

#passwordForm{
    margin : 20px 20px 20px 20px;
}
#addressForm{
    margin : 20px 20px 20px 20px;
}
#nameForm{
    margin : 20px 20px 20px 20px;
}
.temp{
    margin : 20px 20px 20px 20px;

}